/* Estilos para el header */
header {
    background-color: #FAF5ED;  /* Color de fondo del header */
    color: #2b2a2a; /* Color del texto */
    padding: 10px 20px; /* Aumenta el espaciado interno del header para dar espacio al logo */
    display: flex; /* Utiliza flexbox para alinear elementos horizontalmente */
    justify-content: space-between; /* Alinea elementos a los extremos (izquierda y derecha) */
    align-items: center; /* Centra verticalmente los elementos */
    transition: background-color 1s;
    height:85px;
    z-index: 10;
   
}

.botnCont{
    display: flex;
    flex-direction: row;
    width: 200px;
}

/* Estilos para el menú principal */
.menu {
    list-style-type: none;
    text-align: center;
    padding: 0;
    display: flex;
    flex-wrap: wrap; /* Los elementos del menú se envuelven en pantallas pequeñas */
    justify-content: flex-end; /* Alinea los elementos al extremo derecho */
   top: -40px;
    position: relative;
    left: 28%;
    font-size: 12px;
    transition: 1s;
    }
#Menu{
    transition: 1s;
}
.menu li {
    margin-right: 20px; /* Espaciado entre los botones */
}

/* Estilos para los botones Home a Contact */
.menu a {
    font-weight: bold;
    color: #4c4b4b;
    text-decoration: none;
    padding: 5px 8px; /* Reduce el padding para hacer los botones más pequeños */
    transition: 1s;
}

.menu a:hover {
   color: #298cdd;/* Cambia el borde al pasar el cursor */
    transition: border-color 1s ease;
    transition: 1s;
}

/* Estilos para los botones Log In y Sign Up en el menú principal */
.login-buttonn,
.signup-buttonn {
    background-color: #5ABFCB; /* Color de fondo */
    padding: 7px 10px; /* Reduce el padding para hacer los botones más pequeños */
    margin-left:0; /* Espaciado entre los botones y otros botones */
    border-radius: 5px; /* Borde redondeado */
    color: #141414;
    text-decoration: none;
    transition: background-color 0.3s ease;
    position: relative;
    left: 65%;
    font-size: 12px;
    font-weight: bold;
   
}

#loguinBottomm{
    color: #5ABFCB;
    left: 67%;
    border: solid 1px #00ced1;;
    background-color: #FAF5ED;
}
#singupBottomm{
    color: #fff;
    transition: 1.1s;
}
#singupBottomm:hover{
    transition: 1.1s;
}
.login-buttonn:hover,
.signup-buttonn:hover {
    background-color: #00ced1; /* Cambia el color de fondo al pasar el cursor */
    transition: 1.1s;
}

/* Estilos para el botón de menú en pantallas pequeñas */
.menu-button {
    display: none; /* Oculta el botón por defecto */
    background-color: #FAF5ED;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilos para el ícono del botón de menú */
.menu-icon {
    width: 0px;
    height: 0px;
    background-color: #fff;
    display: block;
    margin: 3px auto;
    transition: background-color 0.3s ease;
    position: relative;
    top: 0px;
    max-width: 1920px;
}

/* Estilos para el ícono del botón de menú cuando está abierto */
.menu-button.open .menu-icon {
    background-color: transparent;
    transition: 1s;
  
}

/* Estilos para la imagen del logo */
.logo {
    max-width: 130px; /* Ajusta el ancho máximo según tus necesidades */
    position: relative;
    margin: 0px; /* Espaciado entre la imagen y los botones del menú */
    transition: opacity 0.3s ease; /* Transición de opacidad */
   

}
.line {
    height: 1px; /* Grosor de la línea */
    background-color: #c5c4c4; /* Color de la línea */
    width: 172%; /* Ocupar el 100% de ancho */
    position: relative;
    top: -52px;
    left: -10%;
}
.LanguageSelectorC{
    position: relative;
    align-items: end;
    justify-content: end;
    font-weight: bold;
    display: flex;  
    flex-direction: row;
    width: 100%;
   background-color: #FAF5ED;
    left: 8%;
}
.divContainer{
    position: relative;
    top: 20px;
}
@media screen and (max-width: 1920px) {
    .botnCont{
        display: flex;
        flex-direction: row;
        width: 200px;
        position: relative;
        left: 45%;
        height: 10px;

    }
    .LanguageSelectorC{
        left: 47%;
    }
    .line {
       
        width: 202%; /* Ocupar el 100% de ancho */
    }
}
@media screen and (max-width: 1750px) {
    .botnCont{
        display: flex;
        flex-direction: row;
        width: 200px;
        position: relative;
        left: 40%;
        height: 10px;

    }
    .LanguageSelectorC{
        left: 45%;
    }
    .line {
       
        width: 192%; /* Ocupar el 100% de ancho */
    }
}
@media screen and (max-width: 1600px) {
    .botnCont{
        display: flex;
        flex-direction: row;
        width: 200px;
        position: relative;
        left: 30%;
        height: 10px;

    }
    .LanguageSelectorC{
        left: 35%;
    }
    .line {
       
        width: 172%; /* Ocupar el 100% de ancho */
    }
}

@media screen and (max-width: 1500px) {
    .botnCont{
        display: flex;
        flex-direction: row;
        width: 200px;
        position: relative;
        left: 15%;
        height: 10px;

    }
    .LanguageSelectorC{
        left: 20%;
    }
    .line {
       
        width: 172%; /* Ocupar el 100% de ancho */
    }
}
@media screen and (max-width: 1300px) {
    .botnCont{
        display: flex;
        left: 0%;
        flex-direction: row;
        width: 200px;
    }
    .line {
       
        width: 172%; /* Ocupar el 100% de ancho */
    }
    .LanguageSelectorC{
        left: 5%;
    }
}
@media (max-width: 900px) {
    header {
        background-color: #FAF5ED; /* Color de fondo del header */
        color: #fff; /* Color del texto */
        padding: 10px 20px; /* Aumenta el espaciado interno del header para dar espacio al logo */
        display: flex; /* Utiliza flexbox para alinear elementos horizontalmente */
        justify-content: space-between; /* Alinea elementos a los extremos (izquierda y derecha) */
        align-items: center; /* Centra verticalmente los elementos */
        transition: background-color 1s;
        height: auto;
    }
    .LanguageSelectorC{
        position: relative;
        left: 370%;
        font-size: 12px;
        top: -20px;
    }
    .line {
        height: 1px; /* Grosor de la línea */
        background-color: #c5c4c4; /* Color de la línea */
      /* Ocupar el 100% de ancho */
        position: relative;
        top: -15px;
        left: -55%;
        width: 3000px;
    }
    .menu-icon{
        background-color: #FAF5ED;
        color: #333;
        left: -40px;
        font-size: 20px;
        top: -48px;
    }
    .menu {
        display: none; /* Oculta el menú principal */
        flex-direction: column; /* Los elementos se apilan uno encima del otro */
        align-items: center; /* Centra los elementos verticalmente */
        position: relative;
        left: -10%;
        top: -25px;
        transition: 1s;
    }
    .menu li {
        padding: 10px; /* Espaciado entre los botones */
    
    }

    .menu-button {
        display: block; /* Muestra el botón para abrir el menú desplegable */
    }

    .menu.open {
        display: flex; /* Muestra el menú desplegable cuando está abierto */
        transition: 1s;
        transition: 1s;
    }
    .logo {
        display: none; /* Oculta la imagen del logo */
    }
    .login-button,
.signup-button {
    background-color: #20b2aa; /* Color de fondo */
    border: none;
    padding: 5px 8px; /* Reduce el padding para hacer los botones más pequeños */
   /* Espaciado entre los botones y otros botones */
    border-radius: 5px; /* Borde redondeado */
    color: #fff;
    text-decoration: none;
    transition: background-color 1s ease;
    position: relative;
   
}
#loguinBottom{
    color: #5ABFCB;
    left: -10%;
    border: solid 1px #00ced1;;
    background-color: hsl(69, 26%, 95%);;
    top: 20px;
}
#singupBottom{
    color: #fff;
    transition: 1.1s;
    left: -9%;
    top: 20px;
}


}
@media (max-width: 820px) {
    .LanguageSelectorC{
        position: relative;
        left: 350%;
        font-size: 12px;
        top: -20px;
    }
  
}
@media (max-width: 640px) {
    .LanguageSelectorC{
        position: relative;
        left: 230%;
        font-size: 12px;
        top: -20px;
    }
   
}

@media (max-width: 550px) {
    .LanguageSelectorC{
        position: relative;
        left: 160%;
        font-size: 12px;
        top: -20px;
    }
    .line {
        height: 1px; /* Grosor de la línea */
        background-color: #c5c4c4; /* Color de la línea */
         /* Ocupar el 100% de ancho */
        position: relative;
        top: -17px;
        left: -15%;
    }
    .menu-icon{
        background-color: #FAF5ED;
        color: #333;
        left: -36px;
        font-size: 20px;
        top: -42px;
    }
}
@media (max-width: 470px) {
    .LanguageSelectorC{
        position: relative;
        left: 105%;
        font-size: 7px;
        top: -27px;
    }
    .line {
        height: 1px; /* Grosor de la línea */
        background-color: #c5c4c4; /* Color de la línea */
      /* Ocupar el 100% de ancho */
        position: relative;
        top: -20px;
        left: -25%;
    }
    .menu-icon{
        background-color:#FAF5ED;
        color: #333;
        left: -40px;
        font-size: 20px;
        top: -40px;
    }
}