/* Profile.css */

/* Estilos para la imagen redonda */
img.rounded-circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    display: block; /* Asegura que la imagen sea un bloque para controlar el margen automáticamente */
  }
  
  /* Estilos para el fondo gris */
  .flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FAF5ED;
    overflow: hidden; /* Evita que el contenido exceda el área del fondo */
  }
  
  /* Estilos para los textos */
  .flex-column h3,
  .flex-column h5,
  .flex-column p {
    text-align: center; /* Centra el texto horizontalmente */
    margin: 10px 0; /* Ajusta el margen vertical */
  }
  
  .title-h1{
    color: #143F6A;
    font-weight: bold;
  }

  .title-h1-chws{
    color: #143F6A;
    font-weight: bold;
    font-size: 20px;
  }
  
  .title-td{
    color: #143F6A;
    font-weight: bold;
    font-size: 15px;
  }

  .img-profile {
    position: absolute;
    left: 115px;
  }

  .img-activities {
    z-index: 1;
    top: 165px;
    left: 10px;
  }