
.App{
    overflow-x: hidden;
    background-color: #FAF5ED;
    max-width: 1720px; /* Establece el ancho máximo para el contenedor principal */
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@font-face {
    font-family: 'ProximaNova';
    src: url('./fonts/ProximaNova-Regular.woff') format('woff');
    /* Agrega más formatos y estilos si es necesario */
    font-weight: normal;
    font-style: normal;
  }
  
body{
    font-family: 'ProximaNova', Arial, sans-serif; /* Puedes eliminar las otras fuentes si deseas utilizar solo Arial */
    font-weight: 300; /* Hace que la fuente Arial sea más delgada */
    background-color: #FAF5ED;
    user-select: none;
}